[submodule "api-rocketnotes"]
	path = api-rocketnotes
	url = git@github.com:nikollllllas/api-rocketnotes.git
[submodule "frontend-rocketnotes"]
	path = frontend-rocketnotes
	url = git@github.com:nikollllllas/frontend-rocketnotes.git
